.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for legibility */
    padding: 20px; /* Increased padding for a larger look */
    border-radius: 10px;
    color: #fff;
    margin: 20px auto; /* Adjusted margin for optimal spacing */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Added subtle shadow for depth */
}

@media (max-width: 768px) {
    .example-container {
        padding: 20px;
        margin: 10px;
    }
    /* Add any other adjustments for smaller screens */
}

.captured-image {
    width: 30vw; /* Adjust width as needed, could be a specific pixel value or percentage */
    height: auto; /* Adjust height to maintain aspect ratio, or set a specific height */
    border-radius: 10px; /* Round corners of the webcam view */
    object-fit: cover; /* Ensures the video covers the set area without stretching. Alternatives: contain, fill */
}

.mirrored {
    transform: scaleX(-1);
}