.button-container .button {
    margin-right: 20px; /* Adjust the value as needed */
}

.button-container .button:last-child {
    margin-right: 0; /* Remove the margin from the last button to prevent extra space on the right */
}

.pages-container p {
    font-weight: normal;
}

h2 {
    margin: 20px;
}