.pages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin: 0;
}
.form {
     gap: 30px;
}

.rating {
    display: flex;
    justify-content: space-around; /* Align the emojis evenly */
    margin: 40px 0;
}

span {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: 900; /* Increase font-weight */
    margin-top: 10px; /* Adjust spacing between emoji and text */
}

.rating-icon {
    display: flex;
    flex-direction: column; /* Change direction to column */
    align-items: center; /* Center the children vertically */
    justify-content: center; /* Center the children horizontally */
    cursor: pointer;
    margin: 0 10px 0 10px; /* Adjust spacing between emojis */
    transition: color 0.3s ease;
}

.rating-icon-0:hover {
    color: red;
}

.rating-icon-1:hover {
    color: orange;
}

.rating-icon-2:hover {
    color: yellow;
}

.rating-icon-3:hover {
    color: lightgreen;
}

.rating-icon-4:hover {
    color: green;
}

.slider-question {
    margin: 40px;
}

p {
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;
    margin: 20px;
}

.slider-container {
    position: relative;
    padding: 0 10px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #fff;
    padding: 0 10px;
}

input[type='range'] {
    width: 100%; /* Make the slider fill the parent element */
    -webkit-appearance: none; /* Override default CSS by the browser */
    height: 20px;
    border-radius: 10px;
    --slider-percentage: 50%; /* Set the initial fill percentage to 50% */

}

input[type='range']::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #6b9488 0%, #6b9488 var(--slider-percentage), #ccc var(--slider-percentage), #ccc 100%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: transparent;
}

input[type='range']::-moz-range-track {
    background: #4CAF50; /* Default track color */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 100%;
    background: transparent;
}

input[type='range']::-moz-range-progress {
    background: #6b9488; /* Same background color as the button */
    border-radius: 10px;
    height: 100%;
}

@media (max-width: 768px) {
    .pages-container {
        padding: 20px;
        margin: 10px;
    }
}

.input-question {
    margin: 20px 0;
}

textarea {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #6b9488;
    overflow-scrolling: auto;
    resize: none; /* Prevent resizing */
    color: #fafafa;
}

textarea:focus {
    outline: none;
}