.information-container {
    max-width: 70vw; /* Adjust width as necessary */
    padding: 40px;
    border-radius: 10px;
    color: #fff;
    margin: auto;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 2em; /* or your preferred size */
}

.description {
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
}

.accept-button {
    background-color: #4CAF50; /* or your preferred hex color */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 4px #999; /* Optional: adds a shadow to the button */
}

.accept-button:hover {
    background-color: #45a049; /* Darker shade for hover effect */
}

.accept-button:active {
    background-color: #3e8e41; /* Even darker shade when clicked */
    box-shadow: 0 5px #666; /* Push effect on click */
    transform: translateY(4px); /* Push effect on click */
}
